.benefits {
	text-align: center;
	color: #383a4c;
	padding: 69px 0 72px;
}

.benefits__title {
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 28px;
}

.benefits__about-block {
	margin-bottom: 59px;
}

.about-block__title {
	position: relative;
	display: inline-block;
	font-weight: 500;
	margin-bottom: 34px;
}

.about-block__title:before, 
.about-block__title:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 43px;
	height: 2px;
	background-color: #383a4c;
}

.about-block__title:before {
	left: 0;
	transform: translate(-66px, -50%);
}

.about-block__title:after {
	right: 0;
	transform: translate(66px, -50%);
}

.about-block__text {
	max-width: 724px;
	font-size: 18px;
	line-height: 140%;
	margin: 0 auto;
}

.benefits-list {
	max-width: 934px;
	display: flex;
	justify-content: space-between;
	column-gap: var(--column-gap);
	flex-wrap: wrap;
	margin: 0 auto;
}

.benefits-list__item {
	flex-basis: calc(100% / var(--card-count) - (var(--card-count) - 1) * var(--column-gap) / var(--card-count));
}

.benefits-list__number {
	display: flex;
	justify-content: center;
	width: 122px;
	height: 122px;
	font-weight: 500;
	font-size: 57px;
	line-height: 100%;
	background-color: #23c7ec;
	color: var(--main-color, #fff);
	border-radius: 50%;
	padding: 37px 0;
	margin: 0 auto 15px;
}

.benefits-list__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
}

@media (max-width: 1024px) {

	.benefits {
		padding: 70px 0 73px;
	}

	.benefits__title {
		font-size: 32px;
		margin-bottom: 23px;
	}

	.benefits__about-block {
		margin-bottom: 61px;
	}

	.about-block__title {
		font-size: 20px;
		margin-bottom: 31px;
	}
	
	.about-block__title:before, 
	.about-block__title:after {
		width: 40px;
	}
	
	.about-block__title:before {
		transform: translate(-60px, -50%);
	}
	
	.about-block__title:after {
		transform: translate(62px, -50%);
	}

	.about-block__text {
		max-width: 666px;
		font-size: 16px;
	}

	.benefits-list {
		max-width: 870px;
	}

	.benefits-list__number {
		width: 104px;
		height: 104px;
		font-size: 52px;
		padding: 26px 0;
		margin: 0 auto 24px;
	}
	
	.benefits-list__text {
		max-width: 180px;
		font-size: 18px;
		margin: 0 auto;
	}
}

@media (max-width: 920px) {

	.benefits-list {
		max-width: 600px;
		row-gap: 40px;
		--card-count: 2;
	}
}

@media (max-width: 768px) {

	.benefits__title {
		font-size: 28px;
	}
}

@media (max-width: 480px) {

	.benefits {
		padding: 31px 0 62px;
	}

	.benefits__title {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.benefits__about-block {
		margin-bottom: 42px;
	}

	.about-block__title {
		font-size: 16px;
		margin-bottom: 30px;
	}
	
	.about-block__title:before, 
	.about-block__title:after {
		width: 20px;
		height: 1px;
	}
	
	.about-block__title:before {
		transform: translate(-46px, 100%);
	}
	
	.about-block__title:after {
		transform: translate(46px, 100%);
	}

	.about-block__text {
		font-size: 12px;
	}

	.benefits-list {
		row-gap: 44px;
		--column-gap: unset;
		--card-count: 1;
	}
}